.taist-table {
  width: 100%;
}

.taist-table {
}

.taist-table tr {
  border-bottom: 1px solid silver;
}

.taist-table thead tr {
  border-bottom: 1px solid black;
}

.taist-table thead td {
  color: #aaa;
}

.taist-table td {
  padding: 8px;
  font-size: 1rem;
}

.taist-table thead td {
  text-align: center;
}

.taist-table td.vat:after {
  content: "%";
}

.taist-table td.tar {
  width: 0;
}

.tar {
  text-align: right;
}

.tar input{
  text-align: right;
  width: 40px;
}

.ml20 {
  margin-left: 20px;
}

.bold {
  font-weight: bold;
}

.fs125 {
  font-size: 1.25rem;
}

.taist-onSaveOrder {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
}

.taist-onSaveOrder:hover {
  background-color: rgba(0, 0, 0, 0);
}

.removePosition span{
  color: white;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 100%;
  display: inline-block;
  font-weight: bolder;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;
}

.removePosition span:hover{
  background-color: rgba(255, 0, 0, 0.9);
}

.taist-options div {
  margin-top: 8px;
  margin-bottom: 4px;
}
